**/.vscode

# GAP8 build files
examples/**/BUILD*
examples/**/lib*
BUILD
examples/ai/classification/images/*
examples/ai/classification/images_lab_bw.zip
examples/ai/classification/class_labels.txt
examples/ai/classification/validation/*
examples/ai/classification/images copy/*
examples/ai/classification/dataset-klasifikace/*
examples/ai/classification/images copy 2/*
examples/ai/classification/dataset-klasifikace copy/*
examples/ai/classification/images_lab_rgb.zip
